<div class="container head">
  <div class="row">
    <h1 class="title">Update product</h1>
    <form [formGroup]="secondFormGroup">
      <ng-http-loader></ng-http-loader>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title"  placeholder="Title...">
      </mat-form-field>
      <br>
      <ckeditor formControlName="description" [editor]="Editor"></ckeditor>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Purchase Amazon price</mat-label>
        <input type="text" matInput formControlName="price" placeholder="Price...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Naver Price</mat-label>
        <input type="text" matInput formControlName="naverPrice" placeholder="Naver price...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Other Price</mat-label>
        <input type="text" matInput formControlName="otherPrice" placeholder="Other price...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Inventory</mat-label>
        <input matInput formControlName="inventory" placeholder="Inventory...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Weight (grammes)</mat-label>
        <input type="text" matInput formControlName="weight" placeholder="Weight...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Dimensions</mat-label>
        <input matInput formControlName="dimensions" placeholder="Dimensions...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Keywords</mat-label>
        <input matInput formControlName="keywords" placeholder="Keywords for optimized search">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand" placeholder="Brand">
      </mat-form-field>
      <div>
        <button class="btn btn-danger" (click)="saveData()">Save in database</button>
      </div>
    </form>

  </div>
</div>
