<div class="container">
  <div class="row">
    <div class="container-buttons">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (click)="syncCoupangAllProducts()">Publish all catalog.</mat-button-toggle>
        <mat-button-toggle value="italic">Sync only price</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h4>{{products.data?.length}} articles found on Coupang</h4>
  <table class="table">
    <ng-http-loader></ng-http-loader>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Seller prod. ID</th>
      <th scope="col">Seller prod. Name</th>
      <th scope="col">Category ID</th>
      <th scope="col">Category</th>
      <th scope="col">Prod.id</th>
      <th scope="col">Brand</th>
      <th scope="col">Status</th>
      <th scope="col">Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products.data">
      <td>{{product.sellerProductId}}</td>
      <td>{{product.sellerProductName}}</td>
      <td>{{product.displayCategoryCode}}</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.productId}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.statusName}}</td>
      <td>{{product.createdAt}}</td>

    </tr>
    </tbody>
  </table>
</div>
