<div class="container-fluid head">
  <h1 class="title">List catalog products</h1>
  <h4>{{products?.length}} articles found</h4>
  <table class="table">
    <ng-http-loader></ng-http-loader>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Purchase Price</th>
      <th scope="col">Naver</th>
      <th scope="col">Coupang</th>
      <th scope="col">Last Sync.</th>
      <th scope="col">Amazon URL.</th>
      <th scope="col">Delivery</th>
      <th scope="col">Inventory</th>
      <th scope="col">Weight</th>
      <th scope="col">ASIN</th>
      <th scope="col">Keywords</th>
      <th scope="col">Coupang Prod. ID</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td><img width="80" height="80" src="{{product.image}}" alt="{{product.title}}"> </td>
      <td>{{product.title}}</td>
      <td>{{product.price}}€</td>
      <td>{{product.naverprice}}₩</td>
      <td>{{product.coupangPrice}}₩</td>
      <td>{{product.lastPurchasePrice}}</td>
      <td><a target="_blank" class="btn btn-dark" href="{{product.url}}">Go</a></td>
      <td>{{product.delivery}}₩</td>
      <td>{{product.inventory}}</td>
      <td>{{product.weight}}</td>
      <td>{{product.ASIN}}</td>
      <td>{{product.keywords}}</td>
      <td>{{product.coupangProductId}}</td>
      <td><button class="btn btn-primary" (click)="modifyProduct(product.ASIN)"><i class="fa fa-edit fa-1x" style="color:#FFF;" aria-hidden="true"></i></button> </td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product.ASIN, product.image, product.coupangProductId)"><i class="fa fa-trash fa-1x" style="color:#FFF;" aria-hidden="true"></i></button> </td>
    </tr>
    </tbody>
  </table>

</div>
