<div class="container-fluid head">
  <h1 class="title">List catalog products</h1>
  <div class="container-buttons">
    <mat-button-toggle-group name="fontStyle" class="button-custom" aria-label="Font Style">
      <mat-button-toggle class="sync" (click)="syncCoupangAllProducts()">Publish all catalog.</mat-button-toggle>
      <mat-button-toggle>Sync. catalog </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <h4>{{products?.length}} articles found</h4>
  <table class="table">
    <ng-http-loader></ng-http-loader>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Purchase Price</th>
      <th scope="col">Naver</th>
      <th scope="col">Other</th>
      <th scope="col">Delivery</th>
      <th scope="col">Weight</th>
      <th scope="col">Dimensions</th>
      <th scope="col">VAT</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td><img width="80" height="80" src="{{product.image}}" alt="{{product.title}}"> </td>
      <td>{{product.title}}</td>
      <td>{{product.price}}€</td>
      <td>{{product.naverprice}}₩</td>
      <td>{{product.othermarketplace}}₩</td>
      <td>{{product.delivery}}₩</td>
      <td>{{product.weight}}</td>
      <td>{{product.dimensions}}</td>
      <td>{{product.vat}}</td>
      <td><button class="btn btn-primary" (click)="modifyProduct(product.ASIN)"><i class="fa fa-edit fa-1x" style="color:#FFF;" aria-hidden="true"></i></button> </td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product.ASIN)"><i class="fa fa-trash fa-1x" style="color:#FFF;" aria-hidden="true"></i></button> </td>
    </tr>
    </tbody>
  </table>

</div>
