.container-buttons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sync{
  background-color: #306cee;
  color: #ffffff;
}

.sync2{
  background-color: green;
  color: #ffffff;
}


.sync3{
  background-color: red;
  color: #ffffff;
}
