<div class="container head">
  <div class="row">
    <h1 class="title">Settings</h1>
    <form [formGroup]="secondFormGroup">
      <ng-http-loader></ng-http-loader>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Currency</mat-label>
        <input matInput formControlName="currency" type="number"  placeholder="Currency wons to euro...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Margin</mat-label>
        <input type="number" matInput formControlName="margin" placeholder="Margin on products...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Coupang Fee</mat-label>
        <input type="number" matInput formControlName="coupangfee" placeholder="Coupang Fee...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Naver Fee</mat-label>
        <input type="number" matInput formControlName="naverfee" placeholder="Naver Fee...">
      </mat-form-field>
      <div>
        <button class="btn btn-danger" (click)="saveData()">Save in database</button>
      </div>
    </form>
  </div>
</div>

<div class="container head">
  <div class="row">
    <h1 class="title">Delivery</h1>
    <form [formGroup]="secondFormGroup">
      <ng-http-loader></ng-http-loader>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>0,5 kg</mat-label>
        <input matInput formControlName="form1" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>1 kg</mat-label>
        <input matInput formControlName="form2" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>1,5kg</mat-label>
        <input matInput formControlName="form3" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>2,5kg</mat-label>
        <input matInput formControlName="form4" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>3kg</mat-label>
        <input matInput formControlName="form5" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>3,5kg</mat-label>
        <input matInput formControlName="form6" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>4kg</mat-label>
        <input matInput formControlName="form7" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>4,5kg</mat-label>
        <input matInput formControlName="form8" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>5kg</mat-label>
        <input matInput formControlName="form9" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>5,5kg</mat-label>
        <input matInput formControlName="form10" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>6kg</mat-label>
        <input matInput formControlName="form11" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>6,5kg</mat-label>
        <input matInput formControlName="form12" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>7kg</mat-label>
        <input matInput formControlName="form13" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>7,5kg</mat-label>
        <input matInput formControlName="form14" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>8kg</mat-label>
        <input matInput formControlName="form15" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>8,5kg</mat-label>
        <input matInput formControlName="form16" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>9kg</mat-label>
        <input matInput formControlName="form17" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>9,5kg</mat-label>
        <input matInput formControlName="form18" type="number" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>10kg</mat-label>
        <input matInput formControlName="form19" type="number" >
      </mat-form-field>
      <div>
        <button class="btn btn-danger" (click)="saveData()">Save in database</button>
      </div>
    </form>
  </div>
</div>

